@model IEnumerable<MyApp.Models.DisplayInfosModel>

@{
    ViewBag.Title = "Liste des Utilisateurs";
}

<div class="widthContainer">
    <br />
    <h4>Liste des utilisateurs enregistrés</h4>
    <hr />
    <table class="table table-hover">
        <thead class="table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nickName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.firstName)
                </th>
                <th></th>
            </tr>
        </thead>


        @foreach (var item in Model)
        {
        <tr>
            @if (item.nickName != User.Identity.Name)
            {
                <td>
                    <a href="/DisplayUsers/OtherProfil?nickName=@item.nickName">@item.nickName</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.firstName)
                </td>
            }

        </tr>
        }

    </table>

    <div class="small_message">
        Cliquer sur le pseudo d'un utilisateur pour afficher son profil
    </div>
</div>