<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> My App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav">
                        <li class="nav-link">@Html.ActionLink("MyApp", "Index", "Home")</li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-link">@Html.ActionLink("Profil", "Index", "DisplayProfil")</li>
                            <li class="nav-link">@Html.ActionLink("Utilisateurs", "Index", "DisplayUsers")</li>
                            <li class="nav-link">@Html.ActionLink("Deconnexion", "Disconnect", "Login")</li>
                        }
                        else
                        {
                            <li class="nav-link">@Html.ActionLink("Créer un compte", "Form", "Register")</li>
                            <li class="nav-link">@Html.ActionLink("Connexion", "Form", "Login")</li>
                        }
                    </ul>
                </div>
            </nav>
        </div>
    </div>


    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
        
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
